body {
	margin: 0px;
	min-height: 100vh;
}

main {
	min-height: inherit;
	display: grid;
	grid-template: 1fr / 1fr 2fr 1fr;
}

table, td {
	border: 5px solid black;
	border-collapse: collapse;
}

.contenedor {
	display: flex;
	justify-content: center;
	align-items: center;
}

.puntuacion > div {
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	height: 300px;
	width: 300px;
}

.puntuacion > div div {
	font-size: 2rem;
	height: 30%;
	width: 100%;
}

.tablero {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	height: 500px;
	width: 500px;
	font-size: 8rem;
	user-select: none;
}

.temporizador > div {
	font-size: 2rem;
	height: 100px;
	width: 300px;
}