body {
	background-color: #FAFDD6;
	margin: 0px;
	min-height: 100vh;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace, 'Arial Narrow', Arial, sans-serif;
	user-select: none;
}

header {
	height: 20vh;
	font-family: 'Courier New', Courier, monospace;
}

h1 {
	margin: 0px;
	font-size: 3rem;
}

main {
	min-height: 70vh;
	display: grid;
	grid-template: 1fr / 1fr 2fr 1fr;
}

table,
td {
	border: 5px solid black;
	border-collapse: collapse;
}

.contenedor {
	display: flex;
	justify-content: center;
	align-items: center;
}

.puntuacion>div {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	height: 166.66px;
	width: 100px;
}

.puntuacion>div div {
	border-radius: 12.5%;
	font-size: 2rem;
	height: 30%;
	width: 100%;
	transition: background-color 0.5s;
}

.actual {
	background-color: #E6BA95;
	transition: background-color 1s;
}

.tablero {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	background-color: #E4E9BE;
	border-radius: 12.5%;
	overflow: hidden;
	height: 500px;
	width: 500px;
	font-size: 8rem;
	font-weight: 400;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ganador {
	background-color: #A2B38B;
	transition: background-color 1s;
}

.temporizador>div {
	font-size: 2rem;
	height: 100px;
	width: 200px;
}